# Configuration d'environnement

# Django
DEBUG=True
SECRET_KEY=D42l8npcCO5wYnDkZi5TWHSEWRf5-c9WC3UTQK7-73ukGYf14ej0i5ETmd8OpI3J_gI
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/gestion_scolaire

# Redis
REDIS_URL=redis://localhost:6379/0
